backend/entorno_virtual
backend/entorno_virtual/
backend/venv/
frontend/venv/
venv/
.venv/
*.db
.env
backend/.env
__pycache__/
**/__pycache__/
*.py[cod]
backend/__pycache__/
backend/rutas/__pycache__/
