SUPABASE_URL=
SUPABASE_KEY=
SUPABASE_BUCKET=Imagenes
JWT_SECRET=
MAIL_USERNAME=
MAIL_APP_PASSWORD=
MAIL_SMTP_HOST=smtp.gmail.com
MAIL_SMTP_PORT=587
FRONTEND_URL=https://frontend-gestor-de-turnos-ids.onrender.com
BACKEND_URL=
FLASK_SECRET_KEY=
